# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.log
*.tlog
projects/VS2017/.vs/Test/v15/ipch/93c6f80e205a6724.ipch
projects/VS2017/.vs/Test/v15/Browse.VC.opendb
projects/VS2017/.vs/Test/v15/Browse.VC.db
projects/VS2017/.vs/Test/v15/.suo
obj/Debug/resource.res
bin/Testd.pdb
